.wrapper {
  @apply flex flex-col mt-8;
  label {
    @apply text-center text-[24px] text-[#173F35];
    font-weight: 600;
  }
  .cardWrapper {
    @apply mt-7;
    .card {
      @apply ml-5 w-[260px];
      &:hover {
        .cardImageWrapper {
          overflow: hidden;

          img {
            transform: scale(1.1);
            transition: 0.8s;
          }
          .additemIcon {
            background-color: #ffffff;
            color: #173f35;
            transition: 0.8s;
          }
        }
      }
      .cardImageWrapper {
        @apply flex  flex-col items-center w-[260px];
        overflow: hidden;
        position: relative;
        img {
          transform: scale(1);
          transition: 0.5s;
        }
        .additemIcon {
          @apply flex justify-center items-center cursor-pointer;
          color: white;
          font-size: 20px;
          width: 30px;
          height: 30px;
          background-color: #173f35;
          border-radius: 50%;
          position: absolute;
          bottom: 15px;
          transition: 0.5s;
        }
      }
      .cardTitle {
        @apply text-[#173F35] text-[18px] pt-2;
      }
      .cardPrice {
        @apply text-[#345172] text-[18px];
      }
    }
  }
}
