.filterDropDown {
  position: relative;
  user-select: none;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  height: 100%;
  .dropdownbtn {
    display: flex;
    background: transparent;
    border: 1px solid #173f35;
    border-radius: 12px;
    padding: 0.4rem 1rem;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    // @media screen and (min-width: 768px) and (max-width: 768px) {
    //   width: 100%;
    // }

    span {
      width: 100%;
      padding: 0 2px;
      border: none;
      background-color: transparent;
      resize: none;
      outline: none;
      color: #173f35;
      font-weight: normal;
      display: flex;
      flex: 1;
      appearance: none;
      font-size: 0.9rem;
      text-transform: capitalize;
    }

    .imgContainer {
      min-height: 26px;
      min-width: 26px;
      max-height: 26px;
      max-width: 26px;
      display: flex;
      align-items: center;
      justify-content: center;
      .leftIcon {
        color: black;
        text-align: center;
        display: flex;
      }
    }

    .withRightIcon {
      border: 1px solid #173f35;
      border-radius: 8px;
      max-width: 30px;
      height: auto;
      font-size: 18px;
      color: black;
      padding-top: 4px;
      margin: 0;
      // background-color: $dashBoardBackground;
    }
  }

  .dropdowncontent {
    box-sizing: border-box;
    position: absolute;
    top: 110%;
    background: #fffcf7;
    border: 1px solid #173f35;
    border-radius: 10px;
    backdrop-filter: inherit;
    // padding: 10px 5px;
    width: 100%;
    color: #173f35;
    max-height: 200px;
    overflow-y: auto;
    text-transform: capitalize;
    scrollbar-width: thin;
    z-index: 5;
    font-size: 12px;
    // box-shadow: 1px 5px 30px 0.1px rgba(255, 255, 255, 0.164);
  }

  .dropdownitems {
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 10px;
    cursor: pointer;
    text-transform: capitalize;
  }
  .dropdownitems:last-child {
    border-bottom: none;
  }
  .dropdownitems:hover {
    background-color: #52796f;
    color: white;
  }
}
