$primary: #3d83df;
$primaryHover: #3d83df;
$blueBorder: #c7e0ff;
$blackColor: #1b2734;
$grayColor: #627282;
$bgPrimary: #111112;
$whiteColor: #ffffff;
$errorColor: red;
$headingFamily: "'Roboto', sans-serif;";
$peragraphFamily: "'Roboto', sans-serif;";
$backgroundGradient: linear-gradient(
  0deg,
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
);
$lightBackground: rgba(61, 131, 223, 0.15);
$borderRadius: 3px;
$footerBg: #161616;
$bgColor: #232325;
$bgSec: #dcdfe3;
$fontSize: 1rem;
$paraFont: 0.9rem;
$smPara: 0.9rem;
$headingSize: 2rem;
$mediumHeading: 1.5rem;
$smHeadingSIze: 1rem;
$smHeadingSizeMedium: 0.8rem;
$fontWeight: 600;
$lightWeight: 400;
$dashBoardBackground: #f2f2f2;
$greenColor: #00c3a5;
$lightGreen: #e0f7f4;
$grayColor: #627282;
$placeholderColor: #495057;
