.container {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;
  @media screen and (max-width: 600px) {
    padding: 0 1rem !important;
    background-image: none;
  }
  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
    background-image: none;
  }
}
.divider {
  border-bottom: 1px solid #1abc9c;
}
.otherContainer {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;
  @media screen and (max-width: 1024px) {
    padding: 0 2rem;
    background-image: none;
  }
}
.repairContainer {
  width: 100%;
  padding: 0 5rem;
  box-sizing: border-box;
  @media screen and (max-width: 1024px) {
    padding: 0rem;
    background-image: none;
  }
}
